html{
    scroll-behavior: smooth;
}
body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
nav * img{
    width: 25px;
}